#partners .container {
  padding-top: 6.4rem;
}
#partners .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

#partners .header img {
  width: 6rem;
  height: 6rem;
}
#partners .header h1 {
  text-transform: uppercase;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  font-size: 1rem;
}

.container h1 {
  padding: 2rem 0;
}

.row,
.row2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.column {
  flex-basis: 25%;
  margin-bottom: 20px;
  text-align: center;
}
.row2 .column {
  flex-basis: 26%;
  margin-bottom: 20px;
  text-align: center;
}

.column img {
  width: 100%;
  max-width: 12rem;
  aspect-ratio: 16/9;
  -o-object-fit: contain;
  object-fit: contain;
  height: auto;
}
